{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h2>Привет, я автор проекта "Yatube". Спасибо, что заглянули ко мне!</h2>
  <div style='margin-top:30px'>
    <p>
      Я начинающий python-developer, этой мой первый учебный проект,
      где я смог изучить основы Django и применить свои знания.
    </p>
    <p>
      Моя основная задача была резработка "бэкенда", проще говоря,
      скрытой части сайта, поэтому "фронт", то есть, видимая часть,
      выглядит совсем просто.
    </p>
    <p>
      Вы наблюдаете мой первый шаг на пути в "айти". Надеюсь, что через
      несколько лет этот сайт будет иметь куда более продвинутый функционал
      и множество новых пользователей.
    </p>
    <p>
      Ваши предложения по усовершенствованию сайта можете отправить мне
      в <a href='https://vk.com/krtkv.alex'> VK </a>.
    </p>
  </div>
{% endblock %} 